/* justify-content: distribute children(group) along primary axis */
/* align-items: change alingment of children(group) along cross-axis */
/* align-self: change the alignment of child element */

*, 
*::before,
*::after {
    box-sizing: inherit;
}

/* html {
    box-sizing: border-box;
} */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    border: 2px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.buttonContainer {
    border: red 2px solid;
    display: flex;
    height: 10vh;
    margin: 2vh;
    justify-content: space-around;
    

}

/* 
.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}

.endgame-message {
    color: white;
}

button {  
    width: 200px;
    height: 200px;
    font-size: 2rem;
    color: beige;
    background-color: black;
    border: solid rgb(132, 98, 177) 2px;
    box-shadow: 20px 5px 15px rgb(132, 98, 177);
}

body {
    background-color: black;
}

.scoreboard {
    color: whitesmoke;
    text-align: center;
}

.choice-prompt {
    color: whitesmoke;
}

.result-message {
    color: whitesmoke;
}

.choice-text {
    display: flex;
    padding-top: 50px;
    font-size: 1.3rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} */