.title {
    color: rgb(110, 110, 165);
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    text-align: center;
}

.buttonContainer {
    display: flex;
    border: solid 2px black;
    justify-content: space-around;
    margin-top: 100px;
    /* padding: 100px; */
    /* height: 300px; */
    
}

button {
    width: 200px;
    height: 200px;
    font-size: 2rem;
    color: beige;
    background-color: black;
    border: solid rgb(132, 98, 177) 2px;
    box-shadow: 20px 5px 15px rgb(132, 98, 177);
}

body {
    background-color: black;
}